import './App.css';
{% for elem in model.classes %}
import Table{{elem.name[0]|capitalize}}{{elem.name[1:]}} from './views/{{elem.name[0]|capitalize}}{{elem.name[1:]}}/Table{{elem.name[0]|capitalize}}{{elem.name[1:]}}';
import Edit{{elem.name[0]|capitalize}}{{elem.name[1:]}} from './views/{{elem.name[0]|capitalize}}{{elem.name[1:]}}/Edit{{elem.name[0]|capitalize}}{{elem.name[1:]}}';
import {{elem.name[0]|capitalize}}{{elem.name[1:]}}View from './views/{{elem.name[0]|capitalize}}{{elem.name[1:]}}/{{elem.name[0]|capitalize}}{{elem.name[1:]}}View';

{% endfor %}
import Navbar from './views/components/NavBar';
import { BrowserRouter as Router, Route, Routes, Link } from 'react-router-dom';
import LoginForm from './views/login/LoginForm';
import CardItem from './views/Item/CardItem';

const sampleData = [
  { id: 1, name: 'John', age: 30 },
  { id: 2, name: 'Jane', age: 25 },
  { id: 3, name: 'Doe', age: 40 },
];

function App() {
  return (
    <div className="App">

      <Router>
        <Navbar/>
        <Routes>
          <Route path="/" element={<LoginForm/>}/>
           <Route path="/home" element={<CardItem/>}/>
          {{model}}
          {{classes}}
          {% for elem in model.classes %}
          <Route path="/table-{{elem.name|lower}}" element={<Table{{elem.name[0]|capitalize}}{{elem.name[1:]}}/>}/>
          <Route path="/edit-{{elem.name|lower}}/:id" element={<Edit{{elem.name[0]|capitalize}}{{elem.name[1:]}}/>}/>
          <Route path="/add-{{elem.name|lower}}" element={<Edit{{elem.name[0]|capitalize}}{{elem.name[1:]}}/>}/>
          <Route path="/{{elem.name|lower}}-view/:id" element={<{{elem.name[0]|capitalize}}{{elem.name[1:]}}View/>}/>

          {% endfor %}
        </Routes>
      </Router>
      {/* <CoffeeEdit></CoffeeEdit> */}
    </div>
  );
}

export default App;

