import axios from 'axios';
import { ToastContainer, toast } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';
const ENDPOINTS = {
    BASE: 'http://localhost:8080/api/{{current_class.name[0]|lower}}{{current_class.name[1:]}}/',
};

class {{current_class.name[0]|capitalize}}{{current_class.name[1:]}}Service {
    getCustomersBy{{current_class.name[0]|capitalize}}{{current_class.name[1:]}} = async (id) => {
        try {
            return await axios.get(
                ENDPOINTS.BASE+"getCustomersBy{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}/"+id,
            );
        } catch (error) {
         toast.error('Failed to get element.');
            return error;
        }
    };
    get{{current_class.name[0]|capitalize}}{{current_class.name[1:]}} = async () => {
        try {
            return await axios.get(
                ENDPOINTS.BASE,
            );
        } catch (error) {
        toast.error('Failed to get element.');
            return error;
        }
    };
    getOne{{current_class.name[0]|capitalize}}{{current_class.name[1:]}} = async (id) => {
        try {
            return await axios.get(
                ENDPOINTS.BASE +id,
            );
        } catch (error) {
        toast.error('Failed to get element.');
            return error;
        }
    };
    create{{current_class.name[0]|capitalize}}{{current_class.name[1:]}} = async ({{current_class.name[0]|lower}}{{current_class.name[1:]}}) => {
        try {
            return await axios.post(
                ENDPOINTS.BASE,
                {{current_class.name[0]|lower}}{{current_class.name[1:]}}
            );
        } catch (error) {
        toast.error('Failed to create element.');
            return error;
        }
    };
    update{{current_class.name[0]|capitalize}}{{current_class.name[1:]}} = async ({{current_class.name[0]|lower}}{{current_class.name[1:]}}, id) => {
        try {
            return await axios.put(
                ENDPOINTS.BASE+id,
                {{current_class.name[0]|lower}}{{current_class.name[1:]}}
            );
        } catch (error) {
        toast.error('Failed to update element.');
            return error;
        }
    };
    delete{{current_class.name[0]|capitalize}}{{current_class.name[1:]}} = async (id) => {
        try {
            return await axios.delete(
                ENDPOINTS.BASE+id,
            );
        } catch (error) {
        toast.error('Failed to delete element.');
            return error;
        }
    };
     {% if current_class.anotation%}
                    {% if current_class.anotation.name=="basket"%}
    addItemToBasket= async (basket_id, item_id, quantity) => {
        try {
            return await axios.put(
                ENDPOINTS.BASE+basket_id+"/"+item_id+"/"+quantity, //todo
            );
        } catch (error) {
        toast.error('Failed to add item to basket element.');
            return error;
        }
    };
    removeItem = async (basketId, itemId) => {
        try {
            return await axios.put(
                ENDPOINTS.BASE+basketId+"/"+itemId, //todo
            );
        } catch (error) {
        toast.error('Failed to remove item from basket element.');
            return error;
        }
    }
    {%endif%}
       {% if current_class.anotation.name=="bill"%}
    makeBill = async (basket) => {
        try {
            return await axios.post( //todo
                ENDPOINTS.BASE,
                basket
            );
        } catch (error) {
        toast.error('Failed to make bill element.');
            return error;
        }
    };
    makeBillWithId = async (id) => {
        try {
            return await axios.post(
                ENDPOINTS.BASE + `make-with-id/${id}`, //todo
            );
        } catch (error) {
        toast.error('Failed to make bill element.');
            return error;
        }
    };
    {%endif%}
    {%endif%}
    
}

const {{current_class.name[0]|lower}}{{current_class.name[1:]}}Service = new {{current_class.name[0]|capitalize}}{{current_class.name[1:]}}Service();
export default {{current_class.name[0]|lower}}{{current_class.name[1:]}}Service;