import {useState, React, useEffect} from 'react';
import { makeStyles } from '@material-ui/core/styles';
import Table from '@material-ui/core/Table';
import TableBody from '@material-ui/core/TableBody';
import TableCell from '@material-ui/core/TableCell';
import TableContainer from '@material-ui/core/TableContainer';
import TableHead from '@material-ui/core/TableHead';
import TableRow from '@material-ui/core/TableRow';
import Paper from '@material-ui/core/Paper';
import Button from '@material-ui/core/Button';
import {{current_class.name[0]|capitalize}}{{current_class.name[1:]}}Delete from './{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}Delete';
import { useNavigate } from 'react-router-dom';
import {{current_class.name[0]|lower}}{{current_class.name[1:]}}Service from '../../services/{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}Service';
import { ToastContainer, toast } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';

const useStyles = makeStyles({
  table: {
    minWidth: 650,
  },
});

const Table{{current_class.name[0]|capitalize}}{{current_class.name[1:]}} = () => {

  const handleAdd = () => {
    navigate(`/add-{{current_class.name|lower}}`);
  };
  const handleView = (id) => {

    navigate(`/{{current_class.name|lower}}-view/`+id);
  };

  const navigate = useNavigate();
  const handleEdit = (id) => {
    navigate(`/edit-{{current_class.name|lower}}/${id}`);
  };
  const [isDialogOpen, setIsDialogOpen] = useState(false);
  const [delId, setDelId] = useState(-1);
  const [list{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}, setList{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}] = useState([]);

  const handleDelete = (id) => {
    setDelId(id)
    setIsDialogOpen(true);
  };

  const handleCancelDelete = () => {
    setDelId(-1)
    setIsDialogOpen(false);
  };

  const handleConfirmDelete = (id) => {
    const fetchData = async () => {
      try {
          const response = await {{current_class.name[0]|lower}}{{current_class.name[1:]}}Service.delete{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}(id);
          if (response.status === 200) {
              setList{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}(response.data);
              console.log(response.data);
          }
      } catch (error) {
          console.error(error);
      }
  };
  fetchData();
  setIsDialogOpen(false);
  }

  useEffect(() => {
    const fetchData = async () => {
        try {
            const response = await {{current_class.name[0]|lower}}{{current_class.name[1:]}}Service.get{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}();
            if (response.status === 200) {
                setList{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}(response.data);
            }
        } catch (error) {
            console.error(error);
        }
    };

    fetchData();
}, []);

  const classes = useStyles();

  return (
  <div>
    <ToastContainer />
    <div>
      <br/>
      {% if current_class.anotation%}
     {% if current_class.anotation.name!="bill" and current_class.anotation.name!="basket"%}
      <div style={% raw %}{{ display: 'flex', alignItems: 'center', justifyContent: 'space-between' }}{% endraw %}>
          <Button variant="contained" color="primary" {% raw %}onClick={ handleAdd }{% endraw %}>Add</Button>
          <h3 {% raw %}style={{ flexGrow: 1, textAlign: 'center' }}{% endraw %}>Address</h3>
      </div>
      {%endif%}
      {%else%}
      <div style={% raw %}{{ display: 'flex', alignItems: 'center', justifyContent: 'space-between' }}{% endraw %}>
          <Button variant="contained" color="primary" {% raw %}onClick={ handleAdd }{% endraw %}>Add</Button>
          <h3 {% raw %}style={{ flexGrow: 1, textAlign: 'center' }}{% endraw %}>Address</h3>
      </div>
      {%endif%}
      <br/>
      <TableContainer component={Paper}>
        <Table className={classes.table} aria-label="simple table">
          <TableHead>
            <TableRow>
              <TableCell align="center">Index</TableCell>
              {% for prop in current_class.attributes %}
              <TableCell align="center">{{prop}}</TableCell>
              {% endfor %}
              <TableCell align="center">view</TableCell>
              <TableCell align="center">edit</TableCell>
              <TableCell align="center">delete</TableCell>
            </TableRow>
          </TableHead>
          <TableBody>
            {list{{current_class.name[0]|capitalize}}{{current_class.name[1:]}}.map((item, index) => (
              <TableRow key={index}>
               <TableCell align="center">{index + 1}</TableCell>
                {% for prop in current_class.attributes %}
                <TableCell align="center">{item.{{prop}}}</TableCell>
                {% endfor %}
                <TableCell align="center">
                  <Button variant="contained" color="primary" onClick={() => handleView(item.id)}>View</Button>
                </TableCell>
                <TableCell align="center">
                  <Button variant="contained" color="primary" onClick={() => handleEdit(item.id)}>Edit</Button>
                </TableCell>
                <TableCell align="center">
                  <Button variant="contained" color="secondary" onClick={() => handleDelete(item.id)}>Delete</Button>
                </TableCell>
              </TableRow>
            ))}
          </TableBody>
        </Table>
      </TableContainer>
      < {{current_class.name[0]|capitalize}}{{current_class.name[1:]}}Delete
        open={isDialogOpen}
        {% set coffeeId = "coffeeIdHere" %}
        id={delId}
        onCancel={handleCancelDelete}
        onDelete={handleConfirmDelete}
      />
    </div>
    </div>
  );
};

export default Table{{current_class.name[0]|capitalize}}{{current_class.name[1:]}};
