{# Assignments #}
{% set hasType = "long" %}
package uns.ac.rs.mbrs.dtos;
{% set is_one = ["one"] %}
    {% set variable_name = [] %}
    {% set variable_name_price = [] %}
    {% set basket_name = [] %}
    {% for m in model.classes%}
        {% if m.anotation%}
            {% if m.anotation.name == "bying" %}
                {% if m.anotation.how_much == "more" %}
                      {% set _ =is_one.append("more") %}
                      {% set _ = variable_name_price.append(m.name) %}
                 {% endif%}
            {% endif%}
            {% if m.anotation.name == "item" %}
                 {% set _  =variable_name.append( m.name) %}
            {% endif%}
            {% if m.anotation.name == "basket" %}
                 {% set _ =basket_name.append(m.name) %}
            {% endif%}
        {% endif%}
    {%endfor%}
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.Getter;
import lombok.Setter;
import java.util.List;
import java.util.Date;

@Data
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
public class {{ current_class.name[0]|capitalize}}{{ current_class.name[1:]}}DTO {

    private {{ hasType }} id;
    {% if current_class.anotation.name == "action" %}
    private Date dateFrom;
    private Date dateTo;
    private String originalCode;
    private String transformedCode;
    {%endif%}

    {% for property in current_class.attributes %}
        {% if property %}
            private {% if property.isEnum == true %}String{% else %}{{ property.type }}{% endif %} {{ property.name[0]|lower }}{{ property.name[1:]}};
        {% endif %}
    {% endfor %}
    {% set added = false %}
    {% for property in current_class.reference_properties %}
        {% if property is defined and property.upper is defined and property.cardinality is defined and (property.cardinality == "OneToOne" or property.cardinality == "ManyToOne") %}
            {% if property.as_part is not none %}
            {% if property.as_part != "" and property.as_part != "*" %}
            private {{ property.type }}DTO {{ property.as_part[0]|lower}}{{property.as_part[1:] }};
            {% set added = true %}
            {% else %}
            private {{ property.type }}DTO {{ property.name[0]|lower}}{{property.name[1:] }};
            {% set added = true %}
            {% endif %}
            {% else %}
            private {{ property.type }}DTO {{ property.name[0]|lower}}{{property.name[1:] }};
            {% set added = true %}
            {% endif %}
        {% endif %}

        {% if property.upper == -1 %}
            private List<Long> {{ property.name[0]|lower}}{{ property.name[1:]}}Ids;
        {%endif%}
    {% endfor %}

    {% if added %}
        public {{ current_class.name }}DTO(long id,{% for prop in primitiveProperties %}{% if prop.isEnum == true %}String{% else %}{{ prop.type }}{% endif %} {{ prop.name[0]|lower}}{{ prop.name[1:]}}{% if prop is not loop.last %}, {% endif %}{% endfor %}){
            {% for prop in current_class.attributes %}
                this.{{ prop.name[0]|lower}}{{ prop.name[1:]}} = {{ prop.name[0]|lower}}{{ prop.name[1:]}};
            {% endfor %}
            this.id = id;
        }
    {% endif %}

    {% if current_class.anotation%}
        {% if current_class.anotation.name == "basket" %}
            {%if is_one |length ==1%}
    private {{variable_name[0][0]|capitalize}}{{variable_name[0][1:]}}DTO  {{variable_name[0][0]|lower}}{{variable_name[0][1:]}};
             {%else%}

    private List<{{variable_name[0][0]|capitalize}}{{variable_name[0][1:]}}DTO>  {{variable_name[0][0]|lower}}{{variable_name[0][1:]}};
        {%endif%}
    {%endif%}

    {% if current_class.anotation.name == "bill" %}
    private double totalPrice;
    {% for m in model.classes%}
        {% if m.anotation%}
         {% if m.anotation.name == "bying" %}
            {% if m.anotation.how_much == "one" %}
    private {{m.name[0]|capitalize}}{{m.name[1:]}}DTO {{m.name[0]|lower}}{{m.name[1:]}};
            {%else%}

    private List<{{m.name[0]|capitalize}}{{m.name[1:]}}DTO>  {{m.name[0]|lower}}{{m.name[1:]}};
            {% endif %}
         {% endif %}
         {%endif%}
        {%endfor%}
    {%endif%}

    {% if current_class.anotation.name == "item" %}
        {% if variable_name_price | length > 0 %}
            private List<{{variable_name_price[0][0]|capitalize}}{{variable_name_price[0][1:]}}DTO>  {{variable_name_price[0][0]|lower}}{{variable_name_price[0][1:]}};
        {%endif%}
            {%if is_one|length ==1%}
                private List<{{basket_name[0][0]|capitalize}}{{basket_name[0][1:]}}DTO>  {{basket_name[0][0]|lower}}{{basket_name[0][1:]}};
            {%else%}
                private List<{{basket_name[0][0]|capitalize}}{{basket_name[0][1:]}}DTO>  {{basket_name[0][0]|lower}}{{basket_name[0][1:]}};
            {%endif%}

    {%endif%}
    {% if current_class.anotation.name == "bying" %}
    private double currentPrice;

    private boolean current; //is it still valid
       {% for m in model.classes%}
           {% if m.anotation%}
               {% if m.anotation.name == "item" %}
                private {{m.name[0]|capitalize}}{{m.name[1:]}}DTO  {{m.name[0]|lower}}{{m.name[1:]}};
               {%endif%}

            {%endif%}
        {%endfor%}
       {%endif%}
{%endif%}
}
