{# Check if enum exists #}
package uns.ac.rs.master.enums;

public enum {{ enum.name|capitalize}} {
  {% for value in enum.values %}
  {{ value|upper }}{% if not loop.last %},{% endif %}
  {% endfor %}
}

